// CONTAINER 
$container-width: 1000px;
$padding: 25px;
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;

// COLORS
$color-primary: #b00000;
$bg-color-primary: #fff;

// FONTS
$font-body:'sans', sans-serif;
$font-inter:'inter', sans-serif;